*~
.DS_Store
.CFUserTextEncoding
.Trash/
.bash_history
.cache/
.cups/
.ipython/
.lesshst
.m2/
.matlab/
.ssh/
.subversion/
.vim/bundle/
.viminfo
Applications (Parallels)/
Applications/
dev/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
work/

