[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
[push]
	default = simple
[user]
	email = davide.bacchet@gmail.com
	name = Davide Bacchet
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
